@page "/transfer-records"
@rendermode InteractiveServer

@using ApiContracts
@using WoM_BlazorApp.Services.Interfaces
@inject ITransferRecordService TransferRecordService
@inject NavigationManager Nav

<PageTitle>Transfer Records </PageTitle>

<h1>Transfer Records</h1>

<button class="btn btn-primary mb-3"
        @onclick="@(() => Nav.NavigateTo("/transfer-records/create"))">
    Add new transfer record
</button>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}
else if (transferRecords is null || transferRecords.Count == 0)
{
    <p>No transfer records yet.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Cow (id)</th>
            <th>Move Date</th>
            <th>From Department</th>
            <th>To Department</th>
            <th>Requested By Employee (id)</th>
            <th>Approved By Vet (employee id)</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transferRecord in transferRecords)
        {
            <tr>
                <td>@transferRecord.Id</td>
                <td>@transferRecord.CowId</td>
                <td>@transferRecord.MovedAt</td>
                <td>@transferRecord.FromDepartmentId</td>
                <td>@transferRecord.ToDepartmentId</td>
                <td>@transferRecord.RequestedByUserId</td>
                <td>@transferRecord.ApprovedByVetUserId</td>
                <td>@transferRecord.DepartmentId</td>
                <td>
                    <button class="btn btn-sm btn-danger"
                            @onclick="() => DeleteAsync(transferRecord.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private bool isLoading = true;
    private string? error;
    private ICollection<TransferRecordDto>? transferRecords;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            transferRecords = await TransferRecordService.GetAllAsync();
        }
        catch (Exception e)
        {
            error = e.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task DeleteAsync(long id)
    {
        error = null;
        try
        {
            await TransferRecordService.DeleteAsync(id);
            transferRecords = await TransferRecordService.GetAllAsync();
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }
}
