@page "/cows"
@rendermode InteractiveServer


@using ApiContracts
@using WoM_BlazorApp.Http
@inject WoM_BlazorApp.Http.ICowService CowService
@inject NavigationManager Nav

<PageTitle>Cows</PageTitle>

<h1>Cows</h1>

<button class="btn btn-primary mb-3"
        @onclick="@(() => Nav.NavigateTo("/cows/create"))">
    Add new cow
</button>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}
else if (cows is null || cows.Count == 0)
{
    <p>No cows yet.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Reg No</th>
            <th>Birth Date</th>
            <th>Health</th>
            <th>Dept ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cow in cows)
        {
            <tr>
                <td>@cow.RegNo</td>
                <td>@cow.BirthDate</td>
                <td>
                    @if(cow.Healthy) { <span class="text-success">Healthy</span> }
                    else { <span class="text-danger">Sick</span> }
                </td>
                <td>@cow.DepartmentId</td>
                <td>
                    <button class="btn btn-danger btn-sm" @onclick="() => DeleteAsync(cow.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private bool isLoading = true;
    private string? error;
    private ICollection<CowDto>? cows;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            cows = await CowService.GetAllAsync();
        }
        catch (Exception e)
        {
            error = e.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task DeleteAsync(long id)
    {
        error = null;
        try
        {
            await CowService.DeleteAsync(id);
            cows = await CowService.GetAllAsync();
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }
}
