@page "/departments"
@rendermode InteractiveServer

@using ApiContracts
@using WoM_BlazorApp.Services.Interfaces
@inject IDepartmentService DepartmentService

@inject NavigationManager Nav

<h3>Departments</h3>

<button class="btn btn-primary mb-3"
        @onclick="@(() => Nav.NavigateTo("/departments/create"))">
    Add new department
</button>

@if (departments == null)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}
else if (departments is null || departments.Count == 0)
{
    <p>No departments yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var d in departments)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Type</td>
                <td>@d.Name</td>
                <td>
                    <button class="btn btn-sm btn-danger"
                            @onclick="() => DeleteAsync((int)d.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private string? error;
    ICollection<DepartmentDto>? departments;

    protected override async Task OnInitializedAsync()
    {
        departments = await DepartmentService.GetAllAsync();
    }
    private async Task DeleteAsync(int id)
    {
        await DepartmentService.DeleteAsync(id);
        departments = await DepartmentService.GetAllAsync();
    }
}
